body {
    background-color: rgb(51, 0, 86);
    background-image: url(../img/Fondo_02.svg);
    background-position: left top;
    background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

@font-face {
    font-family: casino-fonts-Monsterrat_Reg;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: casino-fonts-Monsterrat_Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}

.Header{
	width: 80%;
	margin: 0px auto 200px auto;
}

.logo {
	margin-left: 20%;
	margin-right: 24%;
	margin-bottom: 40px;
}

.btn {
	margin-left: 20%;
	margin-right: 20%;
}

.ScanBtn {
	display: block;
	margin: 50px auto 0px auto;
    width: 60%;
    height: 190px;
	background:transparent;
	background-image: url(../img/Menu_Btn_Escanear.svg);
	background-repeat:no-repeat;
	border:0;
	overflow: hidden;
}

.PrizesBtn {
	display: block;
	margin: -40px auto 0px auto;
    width: 60%;
    height: 190px;
	background:transparent;
	background-image: url(../img/Menu_Btn_Premios.svg);
	background-repeat:no-repeat;
	border:0;
	overflow: hidden;
}

.Text{
	text-align:center;
	color:white;
	font-family:casino-fonts-Monsterrat_Thin;
	margin: 80px auto 0px auto;
}