body {
    background-color: rgb(51, 0, 86);
    background-image: url(../img/Fondo_01.svg);
    background-position: left top;
    background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

@font-face {
    font-family: casino-fonts-Monsterrat_Reg;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: casino-fonts-Monsterrat_Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}

.Splash {
	position: absolute;
	margin: -80px 0px 0px -10px;
	width:100%;
	height:100%;
	visibility: hidden;
}

.header{
	width: 80%;
    margin: 80px auto 0px auto;
}

.text{
	text-align:center;
	color:white;
	font-family:casino-fonts-Monsterrat_Thin;
	margin: 80px auto 0px auto;
}

.Login
{
	width: 100%;
	text-align:center;
	margin: -15px auto 0px auto;
}

.Login input {
	font-family:casino-fonts-Monsterrat_Thin;
    width: 60%;
    height: 30px;
}

.Button{
	display: block;
	margin: 50px auto 0px auto;
    width: 240px;
    height: 95px;
	background:transparent;
	background-image: url(../img/Login_Btn_Inicio.svg);
	background-repeat:no-repeat;
	border:0;
	overflow: hidden;
}