.prizeBox{
    width: 40%;
    margin-top: 2%;
    display: inline-block;
}

.imgPrize{
    width: 90%;
}

#titlePrizes{
    font-size: 150%;
    margin-top: 3%;
}
    
/* #prizesOfUser{ 
} */

#txtShareCode{
    padding-top: 7%;
}

#userShareCode{
    font-size: 150%;
}

#titleShareCode{
    margin-top: 2%;
    font-size: 150%;
}

.friendBox{
    width: 25%;
    font-size: 50%;
    display: inline-block;
}

.imgsFriends{
    width: 60%;  
    border-radius: 100px;  
}

/* #pictureOfFriends{    
} */

#titleFriends{
    margin-top: 5%;
    font-size: 150%;
}

#UserOfFriends{    
    margin-top: 1%;    
}

.containerOfSidebar{
    background-image: url("../img/panel1.png");
    background-size: 100% 100%;
    margin-left: 4.5%; 
}

#creditsUser{
    font-size: 100%;
}

#imgUser{
    width: 20%;
}

#userName{
    font-size: 170%;
    margin-top: 1%;
}

/* #userInfo{
} */

#imgClose{
    margin-top: 2%;
    margin-right: 2%;
    width: 8%;
}

#divCloseSidebar{
    margin-top: 5%;
    margin-right: 2%;
}

#sidebar{
    /*overflow-y: scroll;*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 105%;
    margin-top: -5px; 
    margin-left: -100%;
    background-color: rgb(33, 10, 63);      
    /* animation-name: x; */
    animation-duration: 1s;
    z-index: 50;
    
    font-family: 'Montserrat', sans-serif;
    color: white;
}
@keyframes showSidebar {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: -5%;
    }
}
@keyframes hideSidebar {
    from {
        margin-left: -5%;
    }
    to {
        margin-left: -100%;
    }
}

#userIcon{
    position: absolute;
    top: 20px;
    left:20px;
    font-size: 300%;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
}

.bgProfileSidebar {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(rgb(94, 8, 133), rgb(33, 10, 63)); 
    background-color: rgb(33, 10, 63);     
    font-size: 500px 1000px;
}


