
.imgInfo{
	padding-right: 10%;
}

.txtNamePrize{
	font-size: 120%;
	margin-left: 10%;
}

.imgPrize{	
	border-radius: 100px;

}

.containerPrize{
	width: 100%;	
}

.boxPrize{
	background-color: rgb(255, 255, 255, 0.1);
	border-radius: 20px;
	margin-top: 2%;
}

#boxPrizes{
	margin-top: 5%;
}

#btnSwithcPrize{
	width: 45%;
	margin-top: 16%;
}

#premiosTitle{
	margin-left: 10%;
	display: inline;
}

.menuIcon{
	font-size: 350%;
}

body{
	background-image: url(../img/fondo_premios.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    color: white;
}